name: CI (feature)

on:
  push:
    branches-ignore:
      - main

jobs:
  ci:
    if: '!github.event.pull_request'
    uses: ./.github/workflows/continuous-integration.yaml
    with:
      run-sonar: false