name: CI (main)

on:
  push:
    branches:
      - main

jobs:
  ci:
    uses: ./.github/workflows/continuous-integration.yaml
    with:
      python-version: '3.14'
      run-sonar: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}